
body{

    min-height: 100vh;
    background-image:url(bg.jpg)  ;
    background-size:repeat;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;

    
}

header{
    position: fixed;
    top: 0px;
    right: 2px;
    background-color: #222;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: #999 1px Solid ;

}

.menu{
    position: relative;
    left: 10px;
    top:5%;
}

.menu img{
    width: 12px;
    height: 12px;
    margin-left: 2px;
    cursor: pointer;
}




.logoYoutube{
    position: relative;
    left: 85%;
    top:5%;
    display: flex;
    justify-content:flex-start;
    align-items: center;

}

.logoYoutube img{
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.logoY img{
    width: 30px;
    height: 25px;
    margin-right: 10px;
    margin-top: 6px;
}


.logo img{
    width: 20px;
    height: 20px;
    margin-right: 12px;
    
}
.logo2 img{
    width: 20px;
    height: 20px;
    margin-right: 12px;
}
.logoYoutube p {
   color: #fff;
   font-family: Alternate Gothic ;
}
.name p{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 12px;
    color: #fff;

}

.name1 p, .name2 p, .name3 p, .name4 p,
.name5 p,.name6 p, .name7 p, .name8 p{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 12px;
    color: #fff;

}

/*Sidebare*/

.sideBar{
    position: fixed;
    top: 51px;
    left: 0px;
    width: 57px;
    height:100vh;
    background-color:#222 ;
    transition: width 0.2s ease;
    cursor: pointer;
}

.sideBar li{
    position: relative;
    left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none ;
    cursor: pointer;
}

.sideBar ul{
    position: relative;
    margin-left :-30px ;
    list-style: none ;
    cursor: pointer;
}
.sideBar ul li{
    
    margin-bottom: 15px;
    width:max-content;
}



ul .name1,ul .name2,ul .name3,ul .name4,
ul .name5, ul .name6, ul .name7, ul .name8, .sideBar li .name{
    display: none;
}


.library{
    display: none;
}


.photo img
{
    width: 48px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left:-15px ;
}
.coordonate{
    display: none;
}

.coordonate.active{
    position: relative;
    bottom: 5px;
    display: inline-block;
    width: 100px;
    margin-left: 5px;
    cursor: pointer;
}
.coordonate h7{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 10px;
    color: #fff;
    cursor: pointer;
}


.coordonate p{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 5px;
    color: #fff;
    cursor: pointer;
}
.arrow{
    display: none;
}

.arrow.active{
    display: inline-block;
    margin-left: 8px;
    cursor: pointer;
}






/*toggle part */

.sideBar.active   {
    width: 200px;
    transition: width 0.75s ease;
}

.sideBar .name.active{
    display: flex;
}

ul .name1.active,ul .name2.active,ul .name3.active,ul .name4.active,
ul .name5.active, ul .name6.active, ul .name7.active, ul .name8.active{
    display: flex;
}

ul .name1.active ,ul .name2.active,ul .name3.active,ul .name4.active,
ul .name5.active, ul .name6.active, ul .name7.active, ul .name8.active{
    display: flex;
}

ul .name1.active:hover,ul .name2.active:hover,ul .name3.active:hover,ul .name4.active:hover,
ul .name5.active:hover, ul .name6.active:hover, ul .name7.active:hover, ul .name8.active:hover{
    background-color: #888;
    width: 120px;
    border-radius: 6px;

}


